In [2]:
for i in range(1,6):
    for j in range(5,i,-1):
        print("$",end="")
    for k in range(0,i):
        print("*",end="")
    print("")

$$$$*
$$$**
$$***
$****
*****

In [1]:
#while loop
#while(condition)

#for i in range(1,5)
i=1
while(i<5):
    print("hello",i)
    i+=1

hello 1
hello 2
hello 3
hello 4

In [ ]:
#list, tuple,set,dictionary

In [2]:
#LIST : collection of element,which has index position ,mutable datatype and orderd collection of elements

mylist=[10,20,"naina"]
print(type(mylist))

<class 'list'>

In [6]:
mylist[0:15]

[100, 20, 'naina']

In [7]:
#to update in list through index value
mylist[0]=100

In [8]:
mylist

[100, 20, 'naina']

In [11]:
#to add value in list #in list we can not add more than one element at a tym 
mylist.append(50)
print(mylist)

[100, 20, 'naina', 50, 50, 50]

In [12]:
mylist.extend("hey")
print(mylist)

[100, 20, 'naina', 50, 50, 50, 'h', 'e', 'y']

In [13]:
mylist.extend(["hey",99])
print(mylist)

[100, 20, 'naina', 50, 50, 50, 'h', 'e', 'y', 'hey', 99]

In [15]:
#to know the deatil of any variable or functions in that variable
#help(mylist)

In [17]:
#to delte elemts from list
print(mylist)
mylist.pop()
print(mylist)

[100, 20, 'naina', 50, 50, 50, 'h', 'e', 'y', 'hey']
[100, 20, 'naina', 50, 50, 50, 'h', 'e', 'y']

In [19]:
print(mylist)
mylist.remove("naina")
print(mylist)

[100, 20, 'naina', 50, 50, 50, 'h', 'e', 'y']
[100, 20, 50, 50, 50, 'h', 'e', 'y']

In [20]:
print(mylist)
del mylist[1]
print(mylist)

[100, 20, 50, 50, 50, 'h', 'e', 'y']
[100, 50, 50, 50, 'h', 'e', 'y']

In [22]:
mylist=[10,20,30,"rahul",11.5]
for var in mylist:
    print(var)

10
20
30
rahul
11.5

In [1]:
mlist=[10,20,30,40,"naina"]
nlist=[]
for i in mlist:
    if(type(i) is int):
        nlist.append(i**2)
print(nlist)

[100, 400, 900, 1600]

In [2]:
#check if element is of integer type then square it and append in new list
mlist=[10,20,30,"rahul"]
nlist=[]
for i in mlist:
    if(type(i) is int):
        nlist.append(i**2)
print(nlist)

[100, 400, 900]

In [6]:
#chwck weather the number is armstrong no. or not
no=153
temp=no
sum=0
while(no>0):
    rem=no%10
    sum+=(rem**3)
    no=no//10
if(sum==temp):
    print("armstrong")
else:
    print("not")

armstrong

In [ ]:
#take input from user no. of days
'''
sunday 1,2,3,4,5,6,7
next week 2,3,4,5,6,7
find sum of amount
'''

In [7]:
#tuple :immutable

mytuple=10,20,30
print(type(mytuple))

<class 'tuple'>

In [9]:
#tuple has only two functions :1)count 2)index

In [11]:
mytuple=(10,20)
print(id(mytuple))
mytuple=mytuple+(60,70)
print("after",id(mytuple))
print(mytuple)

2211219841600
after 2211220469296
(10, 20, 60, 70)

In [ ]:
#Dictionary : collection of elements in form of key:value pairs
#key:identifier
#value is data
#ordered collection of element
#do not have index value

In [13]:
mydictionary={10:"rahul", 20:"choudhary"}

In [17]:
mydictionary[10]

'rahul'

In [18]:
#update
mydictionary[10]="tushar"
print(mydictionary)

{10: 'tushar', 20: 'choudhary'}

In [19]:
#insert
mydictionary[30]="aman"
print(mydictionary)

{10: 'tushar', 20: 'choudhary', 30: 'aman'}

In [20]:
print(mydictionary)
x=mydictionary.pop(10)#in dictionary while using pop key value dena compulsory hai
print(mydictionary)
print("x is ",x)

{10: 'tushar', 20: 'choudhary', 30: 'aman'}
{20: 'choudhary', 30: 'aman'}
x is  tushar

In [22]:
#hello"
#{"h":1, "e":1}
mydictionary={}
for char in "hello":
    mydictionary[char]=1
    print(mydictionary)

{'h': 1}
{'h': 1, 'e': 1}
{'h': 1, 'e': 1, 'l': 1}
{'h': 1, 'e': 1, 'l': 1}
{'h': 1, 'e': 1, 'l': 1, 'o': 1}

In [23]:
#take a string and print total no. of vowels present in string in form of dictionary.
dictionary={}
for char in "hello hey rahul":
    if(char in "aeiou"):
        if char not in dictionary:
            dictionary[char]=1
        else:
            dictionary[char]=dictionary[char]+1
print(dictionary)

{'e': 2, 'o': 1, 'a': 1, 'u': 1}