In [ ]:
#functions:block of codes => reuse

In [1]:
'''
def func():
   statement

'''

'\ndef func():\n   statement\n\n'

In [7]:
#x is parameter
def msg(x):
    print("hello",x)

In [9]:
#"rahul" / aman => argument
msg("rahul")  
msg("aman")

hello rahul
hello aman

In [10]:
def msg(x,y):
    print("x and y:",x,y)
    
msg(10,20)
msg(20,40)

x and y: 10 20
x and y: 20 40

In [12]:
def func(x):
    x=x+5
    
x=10
print("before func:",x)
func(x)
print("after func :",x)

before func: 10
after func : 10

In [15]:
def func(x):
    print(x,id(x))
    x[0]="aman"
    
mylist=[10,20]
print("mylist",mylist, id(mylist))
func(mylist)
print(mylist)

mylist [10, 20] 2766522576768
[10, 20] 2766522576768
['aman', 20]

In [5]:
#finding the lcm of two no.
def lcm(x,y):
    if(x>y):
        greatest=x
    else:  
        greatest=y
    while(True):
        
        if(greatest%x==0 and greatest%y==0):
            print("lcm is :",greatest)
            return
        else:
            greatest+=1
    
lcm(10,9)

lcm is : 90

In [10]:
#type of arguments
#required
def employee(eid, ename, email):
    print(f"Eid is:{eid} \nEname is {ename} \nEmail is: {email}")
    
employee(1,"rahul","rahulsolet2002@gmail.com")

Eid is:1
Ename is rahul
Email is: rahulsolet2002@gmail.com

In [12]:
#positional argument
def employee(eid, ename, email):
    print(f"Eid is:{eid} \nEname is {ename} \nEmail is: {email}")
    
employee("rahul","rahulsolet2002@gmail.com",90)

Eid is:rahul
Ename is rahulsolet2002@gmail.com
Email is: 90

In [13]:
#keyword argument
def employee(eid, ename, email):
    print(f"Eid is:{eid} \nEname is {ename} \nEmail is: {email}")
    
employee(ename="rahul",email="rahulsolet2002@gmail.com",eid=90)

Eid is:90
Ename is rahul
Email is: rahulsolet2002@gmail.com

In [15]:
#default argument
def employee(eid, ename, email="rahul123@gmail.com"):
    print(f"Eid is:{eid} \nEname is {ename} \nEmail is: {email}")
    
employee(90,"rahul")
employee(180,"aman","rahul2002@gmail.com")

Eid is:90
Ename is rahul
Email is: rahul123@gmail.com
Eid is:180
Ename is aman
Email is: rahul2002@gmail.com

In [20]:
#variable length argument
#
def facebook(*data):
    print(data, type(data))
    
facebook("rahulsolet2002@gmail.com","regex",100)
facebook("amazon","ram")

('rahulsolet2002@gmail.com', 'regex', 100) <class 'tuple'>
('amazon', 'ram') <class 'tuple'>

In [25]:
#keyword variable length
#args=argument(tuple)  ,kwargs=keyword variable(dictionary)
def facebook(**data):
    print(data, type(data))
    
facebook(username="rahul123@gmail.com", salary=10000)
facebook(salary=150, username="rahul")

{'username': 'rahul123@gmail.com', 'salary': 10000} <class 'dict'>
{'salary': 150, 'username': 'rahul'} <class 'dict'>

In [26]:
def func():
    print("hello")
    
x=func
print(func)
print(x)
x()

<function func at 0x000001E11087ACA0>
<function func at 0x000001E11087ACA0>
hello

In [30]:
#high order function
#which take another function as argument
def square(x):
    print(x*x)
    
def addNo(x,func):
    print(x, func)
square(10)    
#addNo(10,20)
addNo(10, square(5))

100
25
10 None

In [31]:
#List Comprehensions
#List Comprehensions provide an elegant way to create new lists. The following is the basic structure of list comprehension:

#Syntax: output_list = [output_exp for var in input_list if (var satisfies this condition)]

#Note that list comprehension may or may not contain an if condition. List comprehensions can contain multiple

#Example 1: Generating an Even list WITHOUT using List comprehensions

input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7]
output_list = []

for var in input_list:
    if var % 2 == 0:
        output_list.append(var)

print("Output List using for loop:", output_list)

Output List using for loop: [2, 4, 4, 6]

In [32]:
#Example 2: Generating Even list using List comprehensions

input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7]

list_using_comp = [var for var in input_list if var % 2 == 0]

print("Output List using list comprehensions:",
                    list_using_comp)

Output List using list comprehensions: [2, 4, 4, 6]

In [35]:
#Set Comprehensions
#Set comprehensions are pretty similar to list comprehensions. The only difference between them is that set comprehensions use curly brackets { }

#Example 1 : Checking Even number Without using set comprehension

input_list = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7]

output_set = set()

for var in input_list:
    if var % 2 == 0:
        output_set.add(var)

print("Output Set using for loop:", output_set)

Output Set using for loop: {2, 4, 6}

In [36]:
#Example 2: Checking Even number using set comprehension

input_list = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7]

set_using_comp = {var for var in input_list if var % 2 == 0}

print("Output Set using set comprehensions:",
                                set_using_comp)

Output Set using set comprehensions: {2, 4, 6}