In [4]:
#lambda function
#annoymus function
#name(gumnam)
#lambda se start 
#lambda
'''
def func(x):
    return x+10
'''
x=lambda x:x+10
x(5)

15

In [5]:
#map  filter, reduce
# map(func, iteerable<list>)

def square(x):
    return x*x

mylist=[10,20,30,40,50]
list(  map(square,mylist))

[100, 400, 900, 1600, 2500]

In [6]:
mylist=[10,20,30,40,50]
list(  map(lambda x:x*x,mylist))

[100, 400, 900, 1600, 2500]

In [7]:
mylist=[10,20,30,40,50,9,11]
list(  filter(lambda x:x%2==0,mylist))

[10, 20, 30, 40, 50]

In [16]:
#file handling:open
#              read/write
#              close
#r =>read
fileobj =open("regex.txt")
x=fileobj.read()
fileobj.close()
print(x)

hey rahul choudhary

In [18]:
#read and write
fileobj =open("regex.txt","r+")
x=fileobj.read()
fileobj.write("rahul")
fileobj.close()
print(x)

hey rahul choudhary

In [22]:
#write (w):remove existing content and make new 
fileobj =open("regex.txt","w+")

print( fileobj.tell() )#to check the postion of the cursor

fileobj.write("rahul")
fileobj.seek(2)#to change the position of the cursor
print("after write", fileobj.tell() )
x=fileobj.read()
fileobj.close()
print(x)

0
after write 2
hul

In [24]:
#using with keyword
with open("regex.txt","r") as fileobj:
    x=fileobj.read()
    
print(x)

rahul

In [28]:
#using with keyword
with open("regex.txt","r") as fileobj:
    for line in fileobj.readlines():
        print( line.strip() )
   # print(fileobj.readline())#to read line by line
    
#print(x)

rahul
hey
abcd
ajay

In [38]:
with open("regex.txt","r") as fileobj:
    for line in fileobj.readlines():
        print(line.strip() )

1,rahul,500
2,aman,100
3,ajay,2000

In [45]:
import csv
fileobj= open("regex.txt")
f=csv.reader(fileobj)

for i in f:
   # print(i)
    id,name,salary=i
    print(id,name)

1 rahul
2 aman
3 ajay

In [49]:
print("hello")
x=10
x/0
print("hey")

hello

ZeroDivisionError: division by zero

In [58]:
#exception handling
#try    except
try:
    print("hello")
    x=10
    x/num
    print("hey")
except (ZeroDivisionError,NameError) as z:
    print("error handled:",z)

hello
error handled: name 'num' is not defined

In [62]:
try:
    print("hello")
    x="rahul"
    x[10]
    print("hey")
except (ZeroDivisionError,NameError) as z:
    print("error handled:",z)
    
except Exception as e:
    print(e, ":error occuring")

hello
string index out of range :error occuring

In [60]:
try:
    print("hello")
    x="rahul"
    try:
        x/num
    except:
        print("dividing it by num")
    print("hey")
except (ZeroDivisionError,NameError) as z:
    print("error handled:",z)
    
except Exception as e:
    print(e, ":error occuring")

hello
dividing it by num
hey

In [63]:
#using a python script open instagram in your browser and fill the details automaticallly to sign up and make your ig account.
#create a function which will take a no. from the use and once the no.provided you have to drop the same no. of messages to your frnd on whatsapp.

SyntaxError: unexpected character after line continuation character (423858339.py, line 4)