In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("C:\\Users\\Lenovo\\Documents\\Summer internship\\Deep Learning\\IMDB_Dataset.csv")

In [4]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [5]:
df['review'][3]

"Basically there's a family where a little boy (Jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />This movie is slower than a soap opera... and suddenly, Jake decides to become Rambo and kill the zombie.<br /><br />OK, first of all when you're going to make a film you must Decide if its a thriller or a drama! As a drama the movie is watchable. Parents are divorcing & arguing like in real life. And then we have Jake with his closet which totally ruins all the film! I expected to see a BOOGEYMAN similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. As for the shots with Jake: just ignore them."

# Step 1 Lowercasing

In [6]:
df['review'][3].lower()

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [7]:
df['review']=df['review'].str.lower()

In [8]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

# Remove HTML Tags

In [14]:
import re
def remove_html_tags(text):
    pattern=re.compile('<.*?>')
    return pattern.sub(r'',text)

In [16]:


text = "<html><body><p> Movie1 </p><p> Click here to <a href = 'http://google.com'>download</a></p> "

In [17]:
remove_html_tags(text)

' Movie1  Click here to download '

In [15]:
df['review']=df['review'].apply(remove_html_tags)

In [26]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'' , text)

In [27]:


text1 = 'Check out my notebook https://www.deture.com/delta/note1234acc'

text2 = 'Check out my notebook https://www.deture.com/delta/note1234acc'

text3 = 'Google search here www.google.com'

text4 = 'For notebook click https://www.deture.com/delta/note1234acc'

In [28]:
remove_url(text4)

'For notebook click '

# Step 4 Remove Punctuation

In [30]:
import string
import time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [31]:
exclude=string.punctuation

In [32]:
def remove_punc(text):
    for char in exclude:
        text=text.replace(char,' ')
    return text

In [35]:
text1='string. with .??'

In [36]:
remove_punc(text1)

'string  with    '

In [37]:
df['review']=df['review'].apply(remove_punc)

In [39]:
df2=pd.read_csv("C:\\Users\\Lenovo\\Documents\\Summer internship\\Deep Learning\\twitter_sentiment_analysis.csv")

In [40]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production  the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there s a family where a little boy ...  negative
4      petter mattei s  love in the time of money  is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot  bad dialogue  bad acting  idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i m going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [41]:
import string
exclude = string.punctuation

In [45]:
def remove_punc(text):
    return text.translate(str.maketrans('','',exclude))

In [49]:
df2['tweet']=df2['tweet'].apply(remove_punc)

In [50]:
df2

          id                                              tweet
0      31963   studiolife  aislife  requires  passion  dedic...
1      31964    user  white  supremacists want everyone to s...
2      31965  safe ways to heal your  acne       altwaystohe...
3      31966  is the hp and the cursed child book up for res...
4      31967    3rd  bihday to my amazing  hilarious  nephew...
...      ...                                                ...
17192  49155  thought factory  left right polarisation   tru...
17193  49156  feeling like a mermaid Ã°ÂŸÂ˜Â˜  hairflip  neverre...
17194  49157   hillary  campaigned today in  ohio  omg    am...
17195  49158  happy  at work conference  right mindset leads...
17196  49159  my   song  so glad  free download    shoegaze ...

[17197 rows x 2 columns]

# step 5 Chatword Treatment

In [57]:
chat_words = {'u2' : 'you too' , 'BBL': 'Be Back Later' , 'GAL': 'Get A Life'}

In [59]:
chat_words

{'u2': 'you too', 'BBL': 'Be Back Later', 'GAL': 'Get A Life'}

In [62]:
def chat_conversation(text):
    new_text = []
    for w in text.split():
        if w.upper() in chat_words :
            new_text.append(chat_words[w.upper()])
        else :
            new_text.append(w)

    return "".join(new_text)

In [63]:
chat_conversation('GAL')

'Get A Life'

# Step 6 Spelling Correction

In [64]:
from textblob import TextBlob

In [65]:
incorrect_text = "ceertain conditionas seveal ggenerations aree modified in the saame maner."

textBlb = TextBlob(incorrect_text)

textBlb.correct().string

'certain conditions several generations are modified in the same manner.'

# Step 7 Removing StopWords

In [73]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [74]:
STOPWORDS=set(stopwords.words('english'))

In [76]:
#STOPWORDS

In [79]:
 # manully works
def remove_stopwords(text):
    new_text = []

    for word in text.split():

        if word in set(stopwords.words('english')):
            new_text.append("")

        else :
            new_text.append(word)

    x = new_text[:]
    new_text.clear()
    return "".join(x)

remove_stopwords('probably my all-time favorite movie , a story of selflessness ,sacrifice and dedication to a noble cause.')

'probablyall-timefavoritemovie,storyselflessness,sacrificededicationnoblecause.'

# Tokenization

In [80]:
# 1. prefix - character(s) at the begining = $(" .)

# 2. suffix - character(s) at the end = km) .! "

# 3. Infix - character(s) in between = -- / ...

# 4. Exception - Special-case rule to split a string into several tokens or
# prevent a token from being split when punctuation rules are applied . = let's U.s.

In [81]:
# Approach the tokenization using the split function

# 1. word tokenization

sent1 = "I am going to delhi"
sent1.split()

['I', 'am', 'going', 'to', 'delhi']

In [82]:
# sentence tokenization
sent2 = "I am going to delhi . I will stay there for 3 days. Let\'s hope the trip to be great"
sent2.split('.')

['I am going to delhi ',
 ' I will stay there for 3 days',
 " Let's hope the trip to be great"]

In [83]:
# Problems with split function
sent3 = "I am going to delhi!"
sent3.split()

['I', 'am', 'going', 'to', 'delhi!']

In [84]:
import re

sent3 = "I am going to delhi"
tokens = re.findall("[\w']+", sent3)
sent3

'I am going to delhi'

# 1 NLTK

In [87]:
from nltk.tokenize import word_tokenize , sent_tokenize

In [88]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [89]:
sent1 = "I am going to visit delhi!"
word_tokenize(sent1)

['I', 'am', 'going', 'to', 'visit', 'delhi', '!']

In [90]:
sent2 = 'I have a Ph.D. in A.I.'
sent3 = "We 're here to help! mail us at nks@gmail.com "
sent4 = 'A 5km ride cost $10.50'

word_tokenize(sent2)

['I', 'have', 'a', 'Ph.D.', 'in', 'A.I', '.']

# Stemming

In [91]:
# 1. Inflection == > "In grammar , inflection is the modification of a word
# to express different grametical categories such as tense , case , voice , aspect , person ,
# humber , gender and mood ."

# 2. Stemming == > Stemming is the process of reducing inflection in words to their root forms
# such as mapping a group of words to the same stem even if the stem itself is not valid
# word in the Language .

In [97]:
from nltk.stem.porter import PorterStemmer

In [98]:
ps = PorterStemmer()

def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [99]:
sample = "walk walks walking walked"
stem_words(sample)

'walk walk walk walk'

In [100]:
# stemming mapping a group pf words to the same stem even if the stem itself is not valid word in La

text = 'probably my alltime favourite movie a story of selflessness sacrifice and dedication.'
print(text)

probably my alltime favourite movie a story of selflessness sacrifice and dedication.

In [102]:
# So , we have to use Lemmatization instead of stemming .

# note - stemming is fast and Lemmatization is slow .

In [103]:
# Lemmatization , unlike Stemming , reduces the inflected words properly ensuring that
# the root word belongs to the Language .
# In Lemitization root word is called Lemma . I
# Alemma (plural Lemmas or Lemmata) is the canonical form , dictionary form , or citation form
# of a set of words .

# Stemming works on beehalf algorithm , so it is fast and lemmatization is using wordnet package ,
# so it's slow.

In [104]:
from nltk.stem import WordNetLemmatizer

import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...

True

In [107]:
wordnet_lemmatizer = WordNetLemmatizer()

In [110]:
sentence = 'He was running and eating at the same time . He has bad habbit of swimming after'
punctuation = ' ?:!. ,;'
sentence_words = nltk.word_tokenize(sentence)
for word in sentence_words:
    sentence_words.remove(word)
sentence_words
print("{0:20}{1:20}".format("Word" , "Lemma"))
for word in sentence_words:
    print("{0:20}{1:20}".format(word , wordnet_lemmatizer.lemmatize(word)))

Word                Lemma
was                 wa
and                 and
at                  at
same                same
.                   .
has                 ha
habbit              habbit
swimming            swimming