# lambda function example

In [2]:
x=lambda x,y:x+y
print(x(1,2))

3

In [4]:
x=int(input("enter the no."))
y=lambda x:x*x
print(y(x))

enter the no.3
9

In [5]:
x= lambda :print("rahul choudhary")
x()

rahul choudhary

In [16]:
def myfunc(n):
  return lambda a : a * n

x = myfunc(2)

print(x(10))

20

In [36]:
string_list=["rahul","choudhary"]
count_elements=lambda l:len(l)
result=count_elements(string_list)
print(result)

2

# map function example

In [19]:
mlist=[1,2,3,4,5]
list(map(lambda i:i*i,mlist))

[1, 4, 9, 16, 25]

In [20]:
z=["rahul","choudhary"]
otpt=list(map(lambda i:len(i),z))
print(otpt)

[5, 9]

In [22]:
num=(1, 2, 3, 4)
result=map(lambda x: x + x, num)
print(list(result))

[2, 4, 6, 8]

In [24]:
num1 = [1, 2, 3]
num2 = [4, 5, 6]

result = map(lambda x, y: x + y, num1, num2)
print(list(result))

[5, 7, 9]

In [26]:

lst= ['sat', 'bat', 'cat', 'mat']
test = list(map(list, lst))
print(test)

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

# filter function example

In [33]:
mylist=[2,4,6,9,11]
list(filter(lambda i:i%2==0,mylist))

[2, 4, 6]

In [38]:
string_list = ["apple", "banana", '', "cherry", "date", '', "elderberry"]
vowel_name = list(filter(lambda x: x!='', string_list))
print(vowel_name)

['apple', 'banana', 'cherry', 'date', 'elderberry']

In [43]:
x = ["hello", "hii", "byyy"]
result = list(filter(lambda i: len(i)>3, x))
print(result)

['hello', 'byyy']